---
import { format } from 'date-fns';
import { type CollectionEntry } from 'astro:content';
import PostList from './PostList.astro';

function getYearGroup(posts: CollectionEntry<'posts'>[]) {
  const yearSet = new Set<number>();
  posts.forEach(post => {
    if (post.data.publishedAt) {
      yearSet.add(parseInt(format(post.data.publishedAt, 'yyyy')));
    }
  });
  return Array.from(yearSet).sort((a, b) => b - a);
}

export type Props = {
  posts: CollectionEntry<'posts'>[];
};

const { posts } = Astro.props;
---

<section>
  {
    getYearGroup(posts).map(year => (
      <div>
        <h2 class="my-8 text-xl md:text-2xl font-bold tracking-tighter md:tracking-normal leading-tight font-thai dark:text-white">
          {year}
        </h2>
        <PostList posts={posts} year={year} />
      </div>
    ))
  }
</section>
