---
import type { UserLink } from '@/data/siteMetadata';
import Button from './Button.astro';

export type Props = {
  userLinks: UserLink[];
  class?: string;
};

const { userLinks, class: className } = Astro.props;
---

{
  userLinks.map(link => (
    <Button
      class:list={['-mx-1 text-gray-500 dark:text-gray-400 rounded-full px-4', className]}
      target="_blank"
      href={link.url}
      aria-label={link.label}
    >
      <i class={link.iconClassName} />
    </Button>
  ))
}
