---
import { siteMetadata } from '@/data/siteMetadata';
---

<div class="font-bold text-xl text-blue-600 dark:text-blue-500 font-sans">
  <a href="/" class="hover:text-blue-500 dark:hover:text-blue-600">
    {siteMetadata.title}
  </a>
</div>
